/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/pratica1/exercicio4/Aula03/dist/
/pratica2/Aula04/nbproject/private/
/pratica2/Aula04/build/
/pratica2/Aula04/dist/
/pratica3/UsandoLib/nbproject/private/